*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-family: Segoe UI, Arial, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: all 0.3s linear 0s;
  color: #337ab7;
}

.ui-modal-header {
  background-color: #5b9bd5;
}
